<main>
    <div class="image image1"></div>


    {{ partial "homepage/the_wedding.html" .}}


<!--
    <div class="image image2"></div>
    {{ partial "homepage/order_of_events.html" . }}
-->

    <div class="image image3"></div>

    {{ partial "homepage/accommodation.html" . }}
    

<!--
    {{ partial "homepage/dress.html" . }}
    
    {{ partial "homepage/facilities.html" . }}
    
    {{ partial "homepage/gifts.html" . }}



    {{ partial "homepage/more.html" . }}

    <div class="scroll-top">
        <a class="scroll-top__button" href="#top">
            {{ partial "svgs/scroll-up.svg" . }}
        </a>
    </div>
-->
</main>