<!-- Photos -->

<section id="photos" class="section light">
        <div class="section__svg">
            {{ partial "svgs/gumleaf.svg" . }}
        </div>

        {{ $t := .Site.GetPage "/section/photos" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
          
    </section>
    
    <div class="photo-gallery">
        {{ $photos := readDir "assets/wedding_photos" }}
        {{ range $photos }}
            {{ if .IsDir }}
                <!-- Skip directories -->
            {{ else }}
              {{ $photoPath := printf "/wedding_photos/%s" .Name }}
                {{ with resources.Get (printf "wedding_photos/%s" .Name) }}
                  {{ with .Resize "200x" }}
                <div class="photo-item">
                   <a href="{{ $photoPath | relURL }}" target="_blank">
                  <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
                  </a>
                </div> 
                  {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
    </section>
