<!-- Venue -->

<section id="venue" class="section light">
        <div class="section__svg">
            {{ partial "svgs/gumleaf.svg" . }}
        </div>

        {{ $t := .Site.GetPage "/section/venue" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
          <div class="map">
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20582.28840482635!2d149.12464426440783!3d-35.29304090058133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b164da803f1719d%3A0x7b623178fecbba8b!2sThe%20Boat%20House!5e0!3m2!1sen!2sau!4v1715414097237!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        
    </section>
